.app__header{
    display: flex;
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-inline: 0.5rem;
}

.app__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 4rem;

}

.app__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;

    font-style: normal;
    font-size: 67px;
    line-height: 75px;

    letter-spacing: -0.04em;
}

.app__header-content p{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    margin-top: 1.5rem;
    color: var(--color-text);
}

.app__header-content-down {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.app__header-content-down button{
    background: rgb(32,0,36);
    background: linear-gradient(90deg, rgba(32,0,36,1) 0%, rgba(9,62,121,1) 49%, rgba(192,0,255,1) 100%);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 500;
    transition: 0.25s ease;
    border-radius: 25px;
    border:2px solid #fff;
    cursor: pointer;
}
.app__header-content-down :hover{
    margin-top: 10px;
    scale: 1.03;
    transition: all 0.2s ease-in-out ;
}


@media screen and (max-width: 1050px) {
    .app__header {
        flex-direction: column;
    }
    .app__header-content {
        margin:  0 0 3rem;
    }
}
@media screen and (max-width: 650px) {
    .app__header h1 {
        font-size: 48px;
        line-height: 60px;
    }
    .app__header-content p {
        font-size: 16px;
        line-height: 24px;
    }
    .app__header-image img{
        display: none;
    }
}
@media screen and (max-width: 490px) {
    .app__header h1 {
        font-size: 36px;
        line-height: 48px;
    }
    .app__header-content p {
        font-size: 14px;
        line-height: 24px;
    }
    .app__header-image img{
        display: none;
    }
}

.app__header-image img{
    animation: MoveUpDown 1s infinite;
    transition: all 1s ease-in-out;
    /* z-index: 2; */
}

@keyframes MoveUpDown {
    0%, 100% {
      /* margin-bottom: 0; */
      transform: translateY(0px);
      transition: all 0.3s ease-in-out;
    }
    50% {
      /* margin-bottom: 10px; */
      transform: translateY(10px) ;
       transition: all 0.3s ease-in-out;
    }
  }
